@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
}

a {
    text-decoration: none;
}


/*  HEADER  */

header {
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo {
    height: 40px;
    padding: 10px;
}

header .navbar {
    flex-grow: 1;
}

header nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
}

header nav ul li {
    display: inline-flex;
    margin-right: 10px;
}

header nav ul li a {
    text-transform: uppercase;
    color: #333;
    padding: 18px;
}

header nav ul li a:hover {
    border-bottom: 2px solid #6e6e6e;
}

header nav ul li a.active {
    border-bottom: 2px solid #333333;
}

header .profile a {
    color: #333333;
    padding: 10px 30px;
    display: block;
}

header .profile svg {
    width: 30px;
}


/*  MAIN  */

main section {
    display: flex;
    min-height: 300px;
}
main .img-background {
    background: linear-gradient( rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url('../img/utn-alumnos.jpg'); 
}
main .center-both {
    display: flex;
    align-items: center;
    justify-content: center
}
section.main-image>div {
    flex: 1;
}
section.dark {
    background-color: #333;
    color: #fff;
}
section.fullwidth {
    align-items: center;
    justify-content: center;
}
section .careers {
    display: flex;
    justify-content: center;
    align-items: center;    
}
section.fullwidth h2 {
    text-align: center;
}


.img-background h1 {
    color: #ffffff;
}

.img-content p {
    font-size: 18px;
    padding: 45px;
}

.careers-container {
    width: 80%;
    padding: 30px 0px;
}

.careers .career {
    flex: 1;
    padding: 20px;
}

.careers .career:hover {
    background-color: rgba(250,250,250, .3);
}


/*  FOOTER  */

footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgb(240,240,240);
}

footer>div {
    padding: 20px;
}